:root {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #121b22;
  color: gray !important;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 2rem;
}

.nav-icons {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  height: 14vh;
  align-items: center;
  padding: 5px;
}

.icons {
  text-decoration: none;
  color: black;
}

.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
  width: 50%;
}

.blog-main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4%;
}

.input {
  width: 58%;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.blog {
  outline: none;
}

.publish {
  margin-top: 6px;
}
.nav-main-container {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

/* ------ Home page --------- */

.home-container {
  max-width: 43rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.home-container header h1 {
  margin: 2px;
  padding: 2px;
  font-weight: bold;
}

.article {
  padding: 2px;
  height: auto;
}

.article p {
  margin-top: 10px;
}

.projects-container {
  height: auto;
}
.projects-container header {
  margin-top: 12px;
  font-weight: bold;
}
.projects-sub-container {
  display: flex;
  gap: 2rem;
  padding: 4px;
  flex-direction: column;
}

.projects-sub-container div {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.projects-sub-container div a {
  color: black;
  text-decoration: underline;
}
.user-blogs-container {
  margin: 4px;
  display: flex;
  flex-direction: column;
}

.user-blogs-container p {
  padding: 2px;
  text-decoration: underline;
  margin-top: 0.5rem;
}
.user-blogs-sub-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-profile-icons img {
  width: 22px;
}
.my-profile-icons {
  display: flex;
  gap: 0.5rem;
}

.myprofile-container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

/* --------  posts ----------- */

.post-main-container {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-container {
  display: flex;
  flex-direction: column;
  height: 63vh;
  width: 45%;

  margin: 12px;
}

.date-name-container {
  display: flex;
  gap: 0.3rem;
}

.date-name-container p {
  color: gray;
}

.post-title h1 {
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: bold;
}

.post-title h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 14px;
}

.post-title p {
  overflow: hidden;
  margin: 20px;
  font-size: large;
}

.post-title ul {
  padding: 33px;
}

.image-wrapper {
  width: 100% !important;
  height: 100% !important;
}
.image-wrapper img {
  width: 800px !important;
  height: 600px !important;
  object-fit: contain;
}

.post-icons {
  width: 1.5rem;
}

.post-icons-container {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  margin: 10px;
}

/* comment */

.comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  /* background-color: #abcae9; */
}

.comment-container .comment {
  margin-top: 2rem;
}

.comment-btn-container {
  width: 100%;
  padding: 5px;
  margin-top: 2px;
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.comment-list-container ul {
  position: fixed;
  width: 20%;
  height: 120vh;
  background-color: #121b22;
  top: 80px;
  overflow: auto;
  left: -100%;
  transition: all 0.5s;
  margin-top: -88px;
}

.name {
  font-weight: bold;
  cursor: pointer;
}
.main-comment-list {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 49px;
  gap: 1rem;
}

.main-comment-list li {
  list-style-type: none;
}

/* markdown editor*/

.editor-container {
  width: 100%;
  height: 600px;
}

.markdown-editor {
  width: 100% !important;
  height: 100% !important;
}

.blog-sub-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.editor-container {
  width: 100%;
  height: 600px;
}

.imgparent {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  flex-wrap: wrap;
  border: 1px solid;
  height: auto;
}

.imglist {
  list-style-type: none;
}

.imglist {
  width: 40px;
}

/*----------- Login ------------*/

.login {
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 57px;
}

.login-container {
  display: flex;
  justify-content: space-around;
}

.login-h1 {
  font-family: var(--font-family);
  font-size: 20px;
}

.login-container div {
  display: flex;
  flex-direction: column;
}
.login-icons {
  width: 1.5rem;
  position: relative;
  left: 31rem;
  bottom: 3rem;
  cursor: pointer;
}

/* ---------- signup--------- */

/* ----------------------- signup page ------------------- */

.sign-up-icons {
  width: 1.5rem;
  position: relative;
  left: 90%;
  bottom: 3rem;
  cursor: pointer;
}

.signup {
  height: 13rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
.signup-h1 {
  /* color: white; */
  font-family: var(--font-family);
  font-size: 27px;
}

.form {
  display: flex;
  justify-content: center;
}

.signup-btn {
  text-align: center;
}

.password {
  color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ----------- profile ------------ */

.profile-icon {
  display: none;
  gap: 2rem;
}

.profile-icon-sub-container img {
  width: 18px;
}

#profile-icon-container > div {
  display: flex;
  gap: 1rem;
}

@media only screen and (max-width: 546px) {
  div.post-title > div > p {
    width: 110%;
    margin-top: 10px;
    margin-left: 0;
  }

  .post-container {
    width: 80%;
  }
  .comment-list-container ul {
    height: 150vh;
  }
  .image-wrapper img {
    width: 855px !important;
    height: 221px !important;
  }
  .post-title h2 {
    margin: 0px;
  }
}
