:root {
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 2rem;
}

.nav-icons {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  height: 14vh;
  align-items: center;
  padding: 5px;
}

.icons {
  text-decoration: none;
  color: black;
}

.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}

.blog-main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 4%;
}

.input {
  width: 58%;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

.blog {
  outline: none;
}

.publish {
  margin-top: 6px;
}
.nav-main-container {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

/* ------ Home page --------- */

.home-container {
  max-width: 43rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.home-container header h1 {
  margin: 2px;
  padding: 2px;
  font-weight: bold;
}

.article {
  padding: 2px;
  height: auto;
}

.article p {
  margin-top: 10px;
}

.projects-container {
  height: auto;
}
.projects-container header {
  margin-top: 12px;
  font-weight: bold;
}
.projects-sub-container {
  display: flex;
  gap: 2rem;
  padding: 4px;
  flex-direction: column;
}

.projects-sub-container div {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.projects-sub-container div a {
  color: black;
  text-decoration: underline;
}
.user-blogs-container {
  margin: 4px;
  display: flex;
  flex-direction: column;
}

.user-blogs-container p {
  padding: 2px;
  text-decoration: underline;
  margin-top: 0.5rem;
}
.user-blogs-sub-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.my-profile-icons img {
  width: 22px;
}
.my-profile-icons {
  display: flex;
  gap: 0.5rem;
}

.myprofile-container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}
